{% load static %}
<!DOCTYPE html>
<html lang="pt">

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="author" content="João Serralha">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
            <p>App to manage posts inside a blog</p>
            <main>
                {% block main %}

                {% endblock %}
            </main>
        </header>
    </body>
</html>