{% load static %}
<!DOCTYPE html>
<html lang="pt">

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="author" content="João Serralha">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <body>
            <nav class="navegation">
                <div class="navegation-left">
                    <img src="https://media.discordapp.net/attachments/1084203416294801419/1100796529247268934/1dc417f222594a82b0b24a6059eef40d_6.png" class="logo">
                    <a href="index.html" class="linkSlogan">乛ＳＨＡＤＯＷ ×͜×</a>
                </div>
                <div class="navegation-right">
                    <input type="checkbox" id="switch" /><label id="label-togg" for="switch">Toggle</label>
                    <a href="index" class="link">Home</a>
                    <a href="index2" class="link">Projects</a>
                    <a href="index3" class="link">Web</a>
                </div>
            </nav>
            <main class="allMenus">
              <div class="backgroundMenu">
                &#128187 Web &#128187
                <br>
                <br>
                What was used in this website
              </div>
              <div class="test9">
                  <button class="btminesweeper" onclick="window.location.href = 'https://html.com/';">
                    HTML
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                    <span class="fourth"></span>
                  </button>
              </div>
              
              <div class="test8">       
                <article class="infominesweeper">        
                    <p>
                        <h3>HTML</h3> HypterText Markup Language
                        <br>
                        <br>
                        It's the standard markup language for Web pages. With HTML you can create your own Website
                    </p>             
                </article>
              </div>
            
              <div class="test10">
                 <button class="btdeisijungle" onclick="window.location.href = 'https://www.w3.org/Style/CSS/Overview.en.html';">
                    CSS
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                    <span class="fourth"></span>
                  </button>
              </div>

              <div class="test5">
                <article class="infodeisijungle">
                    <p>
                      <h3>CSS</h3> Cascading Style Sheets
                      <br>
                      <br>
                      Cascading Style Sheets is a mechanism for adding styles to a web page, either applied directly to HTML tags or contained within style tags
                    </p>
                </article>
              </div>

              <div class="test11">
                <button class="btdeisiflix" onclick="window.location.href = 'https://www.javascript.com/';">
                   JS
                    <span class="first"></span>
                    <span class="second"></span>
                    <span class="third"></span>
                    <span class="fourth"></span>
                  </button>
              </div>

              <div class="test7">
                <article class="infodeisiflix">
                    <p>
                      <h3>JS</h3> JavaScript
                      <br>
                      <br>
                      Along with HTML and CSS , JavaScript is one of the three main technologies of the World Wide Web. JavaScript enables interactive web pages and is therefore an essential part of web applications. The vast majority of websites do, and all major browsers have a dedicated JavaScript engine to run it.
                    </p>
                </article>
              </div>
            </main>
            <script src="{% static 'portfolio/js/darkmode.js' %}"></script>      
        </body>
    </head>
</html>